{include file="public/header" /}



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.ds_company_manage}</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="get" name="formSearch" id="formSearch">
        <div class="ds-search-form">
            <dl>
                <dd>
                    <select name="company_level" >
                        <option value='0'>请选择子公司级别</option>
                        <option value='1'>省级</option>
                        <option value='2'>市级</option>
                        <option value='3'>区/县级</option>
                        <option value='4'>镇级</option>
                        <option value='5'>村级</option>
                    </select>
                </dd>
                <dd>
                    <select name="search_field_name" >
                        <option {if $search_field_name == 'member_mobile'}selected='selected'{/if} value="member_mobile">{$Think.lang.member_index_mobile}</option>
                        <option {if $search_field_name == 'member_areainfo'}selected='selected'{/if} value="member_areainfo">{$Think.lang.member_areainfo}</option>
                    </select>
                </dd>
                <dd>
                    <input type="text" value="{$search_field_value}" name="search_field_value" class="txt">
                </dd>
            </dl>
            <div class="btn_group">
                <input type="submit" class="btn" value="{$Think.lang.ds_search}">
                {if $filtered}
                <a href="{:url('Member/member')}" class="btn btn-default" title="{$Think.lang.ds_cancel}">{$Think.lang.ds_cancel}</a>
                {/if}
            </div>
        </div>
    </form>

    <table class="ds-default-table">
      <thead>
        <tr class="thead">
          <!--<th>&nbsp;</th>-->
          <th colspan="align-center">{$Think.lang.member_index_id}</th>
          <th colspan="align-center">{$Think.lang.member_index_mobile}</th>
          <th class="align-center">{$Think.lang.ds_company_level}</th>
          <th class="align-center">{$Think.lang.member_areainfo}</th>
          <th class="align-center">{$Think.lang.ds_handle}</th>
        </tr>
      </thead>
      <tbody>
        {notempty name="member_list"}
        {foreach name="member_list" item="v" key="k" }
        <tr class="hover member">
          <!--<td class="w24"><input type="checkbox" name='del_id[]' value="{$v.company_id}" class="checkitem"></td>-->
          <td><p class="smallfont">{$v.member_id}</p></td>
          <td><p class="smallfont">{$v.member_mobile}</p></td>
            <td class="align-center">{if $v.company_level == 1}省级
                {elseif $v.company_level == 2}市级
                {elseif $v.company_level == 3}区/县级
                {elseif $v.company_level == 4}镇级
                {elseif $v.company_level == 5}村级
                {else /}无{/if}
            </td>
            <td>{$v.member_areainfo}</td>
            <td class="align-center">
                <a href="javascript:dsLayerOpen('{:url('Companys/del',['company_id'=>$v.company_id])}','{$Think.lang.ds_edit}')" class="dsui-btn-edit"><i class="iconfont"></i>{$Think.lang.ds_del}</a>
            </td>
        </tr>
        {/foreach}
        {else /}
        <tr class="no_data">
          <td colspan="11">{$Think.lang.ds_no_record}</td>
        </tr>
        {/notempty}
      </tbody>
      <!--<tfoot class="tfoot">-->
        <!--{notempty name="member_list"}-->
        <!--<tr>-->
        <!--<td class="w24"><input type="checkbox" class="checkall" id="checkallBottom"></td>-->
          <!--<td colspan="16">-->
          <!--<label for="checkallBottom">{$Think.lang.ds_select_all}</label>-->
              <!--&nbsp;&nbsp;<a href="JavaScript:void(0);" class="btn btn-small" onclick="submit_delete_batch()"><span>{$Think.lang.member_edit_denylogin}</span></a>-->
          <!--</td>-->
        <!--</tr>-->
        <!--{/notempty}-->
      <!--</tfoot>-->
    </table>
    {$show_page}

</div>
<script type="text/javascript">
    function submit_delete(ids_str){
        _uri = ADMINSITEURL+"/Member/memberstate.html?member_id=" + ids_str;
        dsLayerConfirm(_uri,'{$Think.lang.ds_ensure_disable}');
    }
</script>