{include file="public/header" /}



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.ds_article_college}</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>
    
    <form method="get" name="formSearch" id="formSearch">
        <div class="ds-search-form">
            <dl>
                <dt>{$Think.lang.article_title}</dt>
                <dd><input type="text" value="{$Request.param.search_title}" name="search_title" class="txt"></dd>
            </dl>
            <dl>
                <dt>{$Think.lang.article_type}</dt>
                <dd>
                    <select name="search_ac_type">
                        <option value="2" <?php if($search_ac_type==='' ){ ?>selected<?php } ?>>{$Think.lang.ds_please_choose}...</option>
                        <option value="0" <?php if($search_ac_type===0){ ?>selected<?php } ?>>{$Think.lang.ds_article}</option>
                        <option value="1" <?php if($search_ac_type==1){ ?>selected<?php } ?>>{$Think.lang.ds_video}</option>
                    </select>
                </dd>
            </dl>
            <div class="btn_group">
                <input type="submit" class="btn" value="{$Think.lang.ds_search}">
                {if $filtered}
                <a href="{:url('College/college')}" class="btn btn-default" title="{$Think.lang.ds_cancel}">{$Think.lang.ds_cancel}</a>
                {/if}
            </div>
        </div>
    </form>
    
    <table class="ds-default-table">
        <thead>
            <tr>
                <th>{$Think.lang.article_sort}</th>
                <th>{$Think.lang.article_title}</th>
                <th>{$Think.lang.article_type}</th>
                <th>{$Think.lang.article_show}</th>
                <th>{$Think.lang.article_time}</th>
                <th>{$Think.lang.ds_handle}</th>
            </tr>
        </thead>
        <tbody>
            {notempty name="article_list"}
            {foreach name="article_list" item="article"}
            <tr id="ds_row_{$article.article_id}">
                <td>{$article.article_sort}</td>
                <td>{$article.article_title}</td>
                <td>{if $article.article_type eq '1'}{$Think.lang.ds_video}{else}{$Think.lang.ds_article}{/if}</td>
                <td>{if $article.article_show eq '1'}{$Think.lang.ds_yes}{else}{$Think.lang.ds_no}{/if}</td>
                <td>{$article.article_time}</td>
                <td>
                    <a href="{:url('College/edit',['article_id'=>$article.article_id])}" class="dsui-btn-edit"><i class="iconfont"></i>{$Think.lang.ds_edit}</a>
                    <a href="javascript:dsLayerConfirm('{:url('College/drop',['article_id'=>$article.article_id])}','{$Think.lang.ds_ensure_del}',{$article.article_id})"  class="dsui-btn-del"><i class="iconfont"></i>{$Think.lang.ds_del}</a>
                </td>
            </tr>
            {/foreach}
            {else /}
            <tr class="no_data">
                <td colspan="10">{$Think.lang.ds_no_record}</td>
            </tr>
            {/notempty}
        </tbody>
    </table>
    {$show_page}
</div>