{if $Think.config.node_site_use eq '1' && !isset($wait)}
{:get_chat()}
{/if}
<script src="{$Think.PLUGINS_SITE_ROOT}/jquery.cookie.js"></script>
<script src="{$Think.HOME_SITE_ROOT}/js/compare.js"></script>
<link rel="stylesheet" href="{$Think.PLUGINS_SITE_ROOT}/perfect-scrollbar.min.css">
<script src="{$Think.PLUGINS_SITE_ROOT}/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="{$Think.PLUGINS_SITE_ROOT}/js/qtip/jquery.qtip.min.js"></script>
<link href="{$Think.PLUGINS_SITE_ROOT}/js/qtip/jquery.qtip.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{$Think.PLUGINS_SITE_ROOT}/jquery.lazyload.min.js"></script>
<script>
    //懒加载
    $("img.lazyload").lazyload({
//        placeholder : "{$Think.HOME_SITE_ROOT}/images/loading.gif",
        effect: "fadeIn",
        skip_invisible : false,
        threshold : 200,
    });
</script>
<div class="footer-info">
    <p class="copyright">{$Think.config.flow_static_code}</p>
</div>
