{if $Think.config.node_site_use eq '1' && !isset($wait)}
{:get_chat()}
{/if}
<script src="{$Think.PLUGINS_SITE_ROOT}/jquery.cookie.js"></script>
<script src="{$Think.HOME_SITE_ROOT}/js/compare.js"></script>
<link rel="stylesheet" href="{$Think.PLUGINS_SITE_ROOT}/perfect-scrollbar.min.css">
<script src="{$Think.PLUGINS_SITE_ROOT}/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="{$Think.PLUGINS_SITE_ROOT}/js/qtip/jquery.qtip.min.js"></script>
<link href="{$Think.PLUGINS_SITE_ROOT}/js/qtip/jquery.qtip.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{$Think.PLUGINS_SITE_ROOT}/jquery.lazyload.min.js"></script>
<script>
    //懒加载
    $("img.lazyload").lazyload({
//        placeholder : "{$Think.HOME_SITE_ROOT}/images/loading.gif",
        effect: "fadeIn",
        skip_invisible : false,
        threshold : 200,
    });
</script>
<div class="footer-info">
    <p class="copyright">{$Think.config.flow_static_code}{$Think.lang.icpnumber}<a href="http://www.beian.miit.gov.cn/" target="_blank">{$Think.config.icp_number}</a></p>
    <div style="width:300px;margin:0 auto; padding:0 0;">
        <img src="{$Think.HOME_SITE_ROOT}/images/seller/login/ghs.png"/>
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=22070202000212" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">吉公网安备 22070202000212号</p></a>
    </div>
</div>
