{include file="public/header" /}
<link rel="stylesheet" href="{$Think.PLUGINS_SITE_ROOT}/layer/css/layui.css"  media="all">
<script src="{$Think.PLUGINS_SITE_ROOT}/layer/layui.js"></script>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.ds_member_manage}</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <table class="ds-default-table">
      <thead>
        <tr class="thead">
          <!-- <th>&nbsp;</th> -->
          <!-- <th colspan="2">完整路径</th> -->
          <th class="align-center">ID</th>
          <th class="align-center">完整路径</th>
          <th class="align-center">所属类型</th>
          <th class="align-center">大小</th>
          
          <th class="align-center">{$Think.lang.ds_handle}</th>
        </tr>
      </thead>
      <tbody>
        {notempty name="lst"}
        {foreach name="$lst" item="val"}
        {foreach name="$val.data" item="v" key='k'}
        <tr class="hover member" id="log_{$v.size}">
          <td class="align-center">{$val.id}</td>
          <td class="align-center">{$v.id}</td>
          <td class="align-center">{$val.value}</td>
          <td class="w150 align-center"><p>{:TransByte($v.size)}</p></td>
          <td class="align-center">
              <a href="javascript:checkError('{$v.id}','check','{$v.size}');" id="{$k+1}" class="dsui-btn-edit"><i class="iconfont"></i>查看内容</a>
              <a href="javascript:checkError('{$v.id}','del','{$v.size}');" ids="{$val.id}_{$k+1}" class="dsui-btn-del"><i class="iconfont"></i>删除</a>
          </td>
        </tr>
        {/foreach}
        {/foreach}
        {else /}
        <tr class="no_data">
          <td colspan="11">{$Think.lang.ds_no_record}</td>
        </tr>
        {/notempty}

        
      </tbody>
      
    </table>
<!--     <div class="layui-collapse" lay-accordion="">
        {foreach name="$lst" item="val"}
          <div class="layui-colla-item">
            <h2 class="layui-colla-title">{$val.value} ({$val.count})条</h2>

            <div class="layui-colla-content layui-show">
              {foreach name="$val.data" item="v" key='k'}
              <div class="layui-collapse" lay-accordion="">
                <div class="layui-colla-item">
                  <h2 class="layui-colla-title">{$v.id}
                    <a style="float: right;" href="javascript:checkError('{$v.id}','check','{$v.date}');" id="{$k+1}" class="dsui-btn-edit"><i class="iconfont"></i>查看内容</a>
                    <a style="float: right;" href="javascript:checkError('{$v.id}','del','{$v.date}');" ids="{$val.id}_{$k+1}" class="dsui-btn-del"><i class="iconfont"></i>删除</a>
                    
                  </h2>
                  
                </div>
              </div>
              {/foreach}
            </div>
          </div>
        {/foreach}
    </div> -->

</div>

<script>
// layui.use(['element', 'layer'], function(){
//   var element = layui.element;
//   var layer = layui.layer;
  
//   //监听折叠
//   element.on('collapse(test)', function(data){
//     layer.msg('展开状态：'+ data.show);
//   });
// });
</script>

<script type="text/javascript">
    
    function checkError(id,act,t) {
        if (act == 'del') {
          if (!confirm('确认删除此日志？')) {
            return false;
          }
        }
        $.ajax({
            url: "{:url('Adminlog/getLog')}",
            type: 'GET',
            dataType: 'html',
            data: {'path': id,'act':act},
        })
        .done(function(sb) {
            switch (act) {
                case 'check':
                    layer.open({
                            type: 1
                            ,title: id //不显示标题栏
                            ,closeBtn: false
                            ,area:['90%','90%']
                            ,shade: 0.8
                            ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                            ,btn: [ '关闭日志']
                            ,btnAlign: 'c'
                            ,moveType: 1 //拖拽模式，0或者1
                            ,content: sb
                            ,success: function(layero){
                              
                        }
                    });
                    break;
                case 'del':
                    $('#log_'+t).hide();
                    layer.msg('缓存日志删除成功!');
                    break;
            }
        })  
    }
</script>